{% extends "layout.html" %}

{% block content %}
    
<div class="content-section">    
        <h1 > Final Dashboard</h1>   
<br>

<legend class="border-bottom mb-4">Notes</legend>

     <div class="content-section">  
        <div class="embed-responsive embed-responsive-4by3">
            <iframe src=""></iframe>
        </div> 
     </div>


        <legend class="border-bottom mb-4">Your Projects</legend>

        <div>
        <button class="btn btn-lg btn-danger"><a href="" style="color:white">Start Project</a></button>          
        </div>
        <br>

<legend class="border-bottom mb-4">Final Score</legend>

<h3 > Zero points</h3> 
<br>

</div>
        

             
{% endblock  %}

     
 
      
    
  
 