{% extends "layout.html" %}

{% block content %}

{% if result == 0 %}
<div class="content-section">
<img style="max-width:100%" src="https://travel-eng.s3-ap-northeast-1.amazonaws.com/images/denied-entry.jpg">
<br>
<h2 style="color:red"> {{name}} has not made a match with you and cannot enter the country. </h2>
<h2 style="color:grey"> {{name}} must go back and try again. </h2>
</div>
{% elif result == 1 %}
<div class="content-section">
<img style="max-width:100%" src="https://travel-eng.s3-ap-northeast-1.amazonaws.com/images/visa-approved.jpg">
<br>
<h2 style="color:green"> {{name}} may enter the country. </h2>
<h2 style="color:hotpink"> "Enjoy your stay"  </h2>
</div>
{% endif %}

<div class="content-section">
<div>
<button  class="btn btn-lg" style="background:hotpink"><a href= "{{ url_for ('immig') }}">Next Visitor</a></button>
</div>
   
</div>



{% endblock %}




{% block script %}
{% endblock %}