{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <h1> Homepage </h1>
</div>

{% if current_user.is_authenticated %} 

{% if attendOpen == 1 %}      
<div class="content-section">
<legend class="border-bottom mb-4">Roll Call</legend>
<div>
<button  class="btn btn-info-light btn-lg"><a href= "{{ url_for ('att_team') }}">Attendance Open</a></button>
</div>
    <br>
</div>
{% endif %}



<div class="content-section" style="">
<legend class="border-bottom mb-4">Final Grading</legend>
<br>

<table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" style="width: 3px;">Midterm <br>Grade</th>
              <th scope="col" style="width: 3px;">Project <br>Work (50%)</th>  
            </tr>
        </thead>
        <tbody>
            <tr>            
              <td> <h2> {{midterm}}/50% </h2></td>   
              <td>  {% for i in range (1,3)%} <h4> P{{i}}: {{projList[i]}}/5 {% endfor %}</h4></td>              
            </tr>               
        </tbody>
</table> 

</div>
<div class="content-section">
    <legend class="border-bottom mb-4">Attendance History</legend>    
    <table class="table table-sm">
        <thead>
            <tr>
              <th scope="col" style="width: 3px;">Date</th>
              <th scope="col" style="width: 3px;">Time</th>           
              <th scope="col" style="width: 3px;">Att</th>
              <th scope="col" style="width: 3px;">Score</th>              
              <th scope="col" style="width: 20px;">Comments</th>
            </tr>
        </thead>
        
        {% for log in attDict %}
        <tbody>
            <tr>
            <!--
              <td> {{log.date_posted.strftime('%B %d')}}</td>   
              <td> {{log.date_posted.strftime('%H %M')}}</td>            
              <td> {{log.attend}}</td>
              <td> {{log.attScore}}/3</td>
              <td> {{log.extraStr}}</td> -->
              <td> {{attDict[log][0].strftime('%b %d')}}</td>   
              <td> {{attDict[log][0].strftime('%H %M')}}</td>            
              <td> {{attDict[log][1]}}</td>
              <td> {{attDict[log][2]}}/3</td>
              <td> {{attDict[log][3]}}</td>
            </tr>       
        </tbody>
        {% endfor %}
      </table>     
</div>

{% else %}
<div class="content-section">
<legend class="border-bottom mb-4">Welcome</legend>
    <h1> Please <a href= "{{ url_for ('login') }}">Login</a> or <a href= "{{ url_for ('register') }}">Join</a> the course </h1>
</div>
{% endif %}


{% endblock content %}

{% block script %}



{% endblock %}  

    

