{% extends "layout.html" %}

{% block content %}



<div class="content-section">
    <legend class="border-bottom mb-4">{{ legend }}</legend>
    
    
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Profile</th>
          <th scope="col">Student Name</th>
          <th scope="col">ID</th> 
          <th scope="col">Att</th>
          <th scope="col">Email</th>
          <th scope="col">Device</th>          
          <th scope="col">AttTotal</th>          
        </tr>
      </thead>

      <tbody>
      {% for student in students %}  
          <tr>              
          <td><img class="rounded-circle chat-img" src="{{LOCATION}}{{student.image_file}}"></td>
          <td>{{student.username}} </td>
          <td>{{student.studentID}}</td>  
          <td>{{attDict[student.studentID]}}</td>          
          <td><a href="{{student.email}}">Email</a></td>
          <td>{{student.device}}</td>
          <td>AttendanceTotal</td>
          </tr>   
      {% endfor %}
      </tbody>
    </table>
</div> 

<div class="content-section">
    <legend class="border-bottom mb-4">FormFill</legend>
    
        
      <tbody>
      {% for form in formFill %}  
          <tr>              
          {{ form }}
          </tr>   
      {% endfor %}
      </tbody>
</div>           
        

  


{% endblock content %}

